<%= link_to 'Back to Posts', posts_path %>
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<br/>
<h3>Post comment:</h3>
  <%= render 'comments/form', commentable: @post, parent_comment_id: nil %>
<br/>
<br/>
<h3>List comments:</h3>
<% @post.comment_threads.each do |comment| %>
  <div>
    <%= render partial: 'comments/comment', locals: { comment: comment } %>
  </div>
<% end %>




